@use '../../styles/vars';

.card {
    min-width: 33%;
    border-width: 0;

    .cardBorder {
        padding: vars.$gap;
        border: 2px solid #6c757d;
        border-radius: vars.$bradius;

        .imgContainer {
            margin-bottom: vars.$gap;
            display: flex;
            flex-flow: row wrap;
            gap: 0.5rem;
            
            .img {
                height: 3rem;
                width: 3rem;
                border-radius: vars.$bradius !important;
            }
        }
        
        .cardBody {
            height: 100%;
            padding: 0;
            display: flex;
            flex-flow: column nowrap;
    
            .textPart {
                margin-bottom: vars.$gap;
            }
        }
    }

}
