@use '../../styles/vars';

.cnt {
  height: 100vh;
  width: 100vw;
  padding-top: vars.$gap;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: vars.$gap;

  .btnWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
