@use '../../../../styles/vars';

.card {
    min-width: 33%;
    border-width: 0;
    
    .cardBorder {
        padding: vars.$gap;
        border: 1px solid #6c757d;
        border-radius: vars.$bradius;
        
        .closeButton {
            height: 2rem;
            width: 2rem;
            padding: 4px;
            position: relative;
            left: calc(100% - vars.$gap);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
    
            .closeIcon {
                height: 80%;
                width: 80%;
            }
        }
        
        .cardBody {
            height: 100%;
            padding: 0;
            display: flex;
            flex-flow: column nowrap;
    
            .textPart {
                margin-bottom: vars.$gap;
            }
        }
    }

}
