.nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;

    .topTitle {
        padding: 0;
        margin: 0;
    }

    .authorName {
        padding: 0;
        margin: 0;
    }
}